<% extend('../main/main.ejs') %>
<div class="container mb-3 col-6">
    <h2 class="mb-3">Profile</h2>
    <form action="/account" method="post">
        <div class="form-group">
            <fieldset disabled>
            <div class="row mb-3">
                <div class="col">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" value='<%= account.username %>' required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" value='<%= account.firstname %>' required>
                </div>
                <div class="col-6">
                    <label for="lastname">Last name</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" value='<%= account.lastname %>' required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" value='<%= account.email %>' required>
                </div>
            </div>
            </fieldset>
        </div>
    </form>
    <div class="row mb-3 justify-content-end">
        <div class="col-auto">
            <a class="btn button-option" id="path" href="" %>/update">Cancel</a>
            <a class="btn button-option" href="/account/<%= account.username %>/update">Update</a>
            <form action="/account/<%= account.username %>?_method=delete" method="post" class="d-inline">
                <a class="btn button-option" hred="#" onclick="return confirm('Are you sure?')?this.parentElement.submit():null">Delete</a>
            </form>
        </div>
    </div>  
</div>